<ion-view view-title="关于">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                应用名
                <br/> segmentfault
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                版本
                <br/> 0.0.1
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                说明
                <br/> 个人爱好开发的segmentfault应用App
            </div>
        </div>
    </ion-content>
</ion-view>
