<ion-view view-title="文章">
    <ion-content>
        <ion-refresher pulling-text="加载中……" on-refresh="doRefresh()">
        </ion-refresher>
        <div class="card article-list">
            <div class="item item-text-wrap" ng-repeat="article in articles">
                <div class="text-align votes" ng-class="{'on-votes':article.votes > 0}">
                    <div>{{article.votes}}</div>
                    <div>推荐</div>
                </div>
                <div class="text-align viewsWord">
                    <div>{{article.viewsWord}}</div>
                    <div>浏览</div>
                </div>
                <div class="title">
                    <div class="user">{{article.user.name}} - {{article.createdDate}}</div>
                    <a href="#tab/article/{{article.id}}">{{article.title}}</a>
                </div>
            </div>
        </div>
        <button class="button button-clear button-full" ng-click="loadMore()">
            加载更多
        </button>
    </ion-content>
</ion-view>
