<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="问答" icon-on="ion-chatboxes" icon-off="ion-chatboxes" href="#/tab/QA">
    <ion-nav-view name="tab-QA"></ion-nav-view>
  </ion-tab>

  <ion-tab title="文章" icon-on="ion-document-text" icon-off="ion-document-text" href="#/tab/article">
    <ion-nav-view name="tab-article"></ion-nav-view>
  </ion-tab>

  <ion-tab title="收藏" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="#/tab/favorite">
    <ion-nav-view name="tab-favorite"></ion-nav-view>
  </ion-tab>

  <ion-tab title="设置" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>