.item {
    padding: 8px;
}
.item .badge {
    right: 3px;
}
.text-align {
    text-align: center;
}
.question-list>div>div{
    display: inline-block;
}
.question-list .answers {
    background-color: #008950;
    color: #fff;
    width: 40px;
}
.question-list .not-answers {
    background-color: #A52826;
    width: 12%;
}
.question-list .viewsWord {
    color: rgba(68, 68, 68, 0.52);    
    width: 12%;
}
.question-list .title {
    width: 73%;
}
.question-list .title>a {
    color: inherit;
    text-decoration: none;
}
.question-list .user {
    color: rgba(68, 68, 68, 0.52);
    font-size: 0.8rem;
}
.card{
    margin: 0;
}